
* {
   margin: 0px;
   padding: 0px;
   font-family: "Lucida Grande";

}

/** ------------------- Introduction ------------------- **/

.intro {
  height: 95vh;
  width: 100vw;
  background-color: white;
  position: relative;
  z-index: 5;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}

.intro h1 {
  text-align: center;
  padding-top: 30vh;
  color: #1E1E1E;
  font-size: calc(4vw + 3vh + 2vmin);
  font-family: "Lucida Grande";

}

.intro h2 {
  text-align: center;
  padding-top: 2vh;
  color: #1E1E1E;
  font-size: calc(0.5vw + 0.5vh + 1vmin);
  font-weight: lighter;
  font-family: "Helvetica";
  line-height: 3.5vh;
}

/** ------------------- Top Bar ------------------- **/

.bar {
  top: 2vw;
  height: 50px;
  /* margin: 5px auto;
  left: 0; */
  right: 2vw;
  width: 40vw;
  background-color: #EEEEEE;
  z-index: 10;
  position: fixed;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bar .item {
  height: 30px;
  width: 50px;
  background-color: #EEEEEE;
  display: inline-flex;
  z-index: 15;
  position: fixed;
  position: relative;
  display: flex;
  margin: 10px auto;
  left: 0;
  right:0;
  cursor: pointer;
}

.bar .item:hover {
  color: #4F85C5;
}

.bar .item p {
  padding-top: 8px;
  font-family: "Lucida Grande";
  font-size: 10px;
}

/** ------------------- About ------------------- **/

.about {
  height: 90vh;
  min-height: 600px;
  width: 100vw;
  background: linear-gradient(to right, #4F85C5 , #32C4E2);
  position: relative;
  right: 0;
  z-index: 5;
  transform: skewY(-4deg);
  transform-origin: top left;
  display: flex;
}

.about .section {
  width: 60%;
  height: 70%;
  margin-top: 25.5vh;
  display: flex;
  transform: skewY(4deg);
}


.about h1 {
  padding: 15vh 5vw 10vh 2vw;
  margin: 10.5vh 0 0vh 4vw;
  font-size: 17px;
  font-weight: bold;
  color: white;
  font-family: "Lucida Grande";
  width: 24.5%;
  text-align: right;
  transform: skewY(4deg);
}

.about .section p {
  font-size: 16px;
  font-weight: lighter;
  color: white;
  font-family: "Helvetica";
  line-height: 30px;
  margin: 4.5vh 0 0vh 0;
  font-weight: 400;
  width: 76%
}


/*
.about .arrow-down {
  margin: 0 auto;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
} */


/** ------------------- skills ------------------- **/


.skills {
  height: 90vh;
  min-height: 600px;
  width: 100vw;
  background: linear-gradient(to right, #C5634F , #C54F4F);
  position: relative;
  right: 0;
  z-index: 5;
  transform-origin: top left;
  display: flex;
}

.skills h1 {
  padding: 15vh 5vw 0 2vw;
  font-size: 17px;
  font-weight: bold;
  font-family: "Lucida Grande";
  width: 25%;
  text-align: right;
  margin: 10.5vh 0 0vh 4vw;
  color: white;
}


/** ------------------- experience ------------------- **/


.experience {
  height: 110vh;
  padding-top: 0px;
  min-height: 600px;
  width: 100vw;
  position: relative;
  right: 0;
  z-index: 5;
  display: flex;
}

.experience h1 {
  padding: 15vh 5vw 10vh 2vw;
  margin: 10.5vh 0 0vh 4vw;
  font-size: 17px;
  font-weight: bold;
  color: black;
  font-family: "Lucida Grande";
  width: 24.5%;
  text-align: right;
}

.experience .section {
  width: 60%;
  height: 70%;
  margin-top: 24.5vh;
  display: flex;
  flex-direction: column;
}

.experience .section .job {
  height: 200px;
  width: 75%;
  margin: 10px;
}

.experience .section .job h2 {
  font-size: 18px;
  text-align: left;
  display: inline;

}

.experience .section .job h3 {
  font-size: 14px;
  padding-bottom: 76px;
  font-weight: 100;
  text-align: left;

}

.experience .section .job h4 {
  font-weight: 100;
  font-size: 12px;
  text-align: right;
  margin-top: -110px;
}


/** ------------------- Skills ------------------- **/

.skills {
  height: 110vh;
  padding-top: 0px;
  min-height: 600px;
  width: 100vw;
  position: relative;
  right: 0;
  z-index: 5;
  display: flex;
  transform: skewY(4deg);
}

.skills h1 {
  padding: 15vh 5vw 10vh 2vw;
  margin: 10.5vh 0 0vh 4vw;
  font-size: 17px;
  font-weight: bold;
  color: white;
  font-family: "Lucida Grande";
  width: 24.5%;
  text-align: right;
  transform: skewY(-4deg);
}

.skills .section {
  width: 60%;
  height: 70%;
  margin-top: 19vh;
  display: flex;
  flex-direction: column;
  transform: skewY(-4deg);
  color: white;
}

.skills .section .skill {
  height: 100px;
  width: 75%;
  margin: 10px;
}

.skills .section .skill h2 {
  font-size: 18px;
  text-align: left;
  display: inline;

}

.skills .section .skill h3 {
  font-size: 14px;
  padding-bottom: 76px;
  font-weight: 100;
  text-align: left;

}

.skills .section .skill h4 {
  font-weight: 100;
  font-size: 12px;
  text-align: right;
  margin-top: -110px;
}
