
* {
   margin: 0px;
   padding: 0px;
   font-family: "Tahoma";

}

/** ------------------- Introduction ------------------- **/

.intro {
  height: 95vh;
  width: 100vw;
  background-color: white;
  position: relative;
  z-index: 5;
}

.intro h1 {
  text-align: left;
  padding-top: 30vh;
  letter-spacing: 0px;
  color: #1E1E1E;
  font-size: calc(4vw + 2vh + 2vmin);
  font-family: "Tahoma";
  margin-left: 18vw;
}

.intro h2 {
  text-align: left;
  padding-top: 2vh;
  color: #1E1E1E;
  font-size: calc(0.5vw + 0.5vh + 1vmin);
  font-weight: bolder;
  font-family: "Tahoma";
  line-height: 3.5vh;
  margin-left: 18vw;
}

.intro h3 {
  text-align: left;
  padding-top: 1vh;
  color: #1E1E1E;
  font-size: calc(0.5vw + 0.5vh + 0.8vmin);
  font-weight: lighter;
  font-family: "Tahoma";
  line-height: 3.5vh;
  margin-left: 18vw;

}

.intro img {
  height: 390px;
  width: 300px;
  border: 20px #F9F9F9 solid;
  border-radius: 1000px;
  index: 10;
  position: relative;
  margin-left: 65vw;
  bottom: 36vh;
  box-shadow: 0 1px 100px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);  */
}

/** ------------------- Top Bar ------------------- **/

.bar {
  top: 0.5vw;
  height: 50px;
  width: 50vw;
  margin: 0px 25vw;
  background-color: #F9F9F9;
  z-index: 10;
  border-radius: 10px;
  position: fixed;
  display: flex;
  box-shadow: 0 1px 100px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);  */

  /* top: 1vw;
  height: 50px;
  /* margin: 5px auto;
  left: 0;
  right: 1vw;
  width: 50vw;
  background-color: #F9F9F9;
  z-index: 10;
  position: fixed;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  */
}

.bar:hover {
    -webkit-transform: scale(1.01);
    transition: .2s;
}

.bar .item {
  height: 30px;
  width: 50px;
  background-color: #F9F9F9;
  display: inline-flex;
  z-index: 15;
  position: relative;
  display: flex;
  margin: auto;
  cursor: pointer;
}

.bar .item:hover {
  color: #4F85C5;
  transition: .2s;
}

.bar .item p {
  padding-top: 8px;
  font-size: 10px;
}

/** ------------------- About ------------------- **/

.about {
  height: 100vh;
  min-height: 800px;
  width: 100vw;
  background: linear-gradient(to right, #4F85C5 , #32C4E2);
  position: relative;
  right: 0;
  z-index: 5;
  transform-origin: top left;
  display: flex;
}

.about .section {
  width: 60%;
  height: 70%;
  margin-top: 25.5vh;
  display: flex;
}

.about h1 {
  padding: 20vh 5vw 10vh 2vw;
  margin: 10.5vh 0 0vh 4vw;
  font-size: 17px;
  font-weight: bold;
  color: white;
  font-family: "Tahoma";
  width: 24.5%;
  text-align: right;
}

.about .section p {
  font-size: 16px;
  font-weight: lighter;
  color: white;
  font-family: "Helvetica";
  line-height: 30px;
  margin: 4.5vh 0 0vh 0;
  font-weight: 400;
  width: 76%
}


/*
.about .arrow-down {
  margin: 0 auto;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
} */


/** ------------------- skills ------------------- **/


.skills {
  height: 90vh;
  min-height: 600px;
  width: 100vw;
  background: linear-gradient(to right, #C5634F , #C54F4F);
  position: relative;
  right: 0;
  z-index: 5;
  transform-origin: top left;
  display: flex;
}

.skills h1 {
  padding: 15vh 5vw 0 2vw;
  font-size: 17px;
  font-weight: bold;
  font-family: "Tahoma";
  width: 25%;
  text-align: right;
  margin: 10.5vh 0 0vh 4vw;
  color: white;
}


/** ------------------- experience ------------------- **/


.experience {
  height: 100vh;
  padding-top: 0px;
  min-height: 600px;
  width: 100vw;
  position: relative;
  right: 0;
  z-index: 5;
  display: flex;
}

.experience h1 {
  padding: 15vh 5vw 10vh 2vw;
  margin: 10.5vh 0 0vh 4vw;
  font-size: 17px;
  font-weight: bold;
  color: black;
  font-family: "Tahoma";
  width: 24.5%;
  text-align: right;
}

.experience .section {
  width: 60%;
  height: 70%;
  margin-top: 24.5vh;
  display: flex;
  flex-direction: column;
}

.experience .section .job:hover {
  cursor: pointer;
  transition: .2s;
}

.experience .section .job {
  height: 60px;
  width: 75%;
  margin: 10px 10px 40px 10px;
}

.experience .section .job h2 {
  font-size: 18px;
  text-align: left;
  display: inline;

}

.experience .section .job h3 {
  font-size: 14px;
  margin-bottom: 76px;
  font-weight: 100;
  text-align: left;

}

.experience .section .job h4 {
  font-weight: 100;
  font-size: 12px;
  text-align: right;
  margin-top: -110px;
}


/** ------------------- Skills ------------------- **/

.skills {
  height: 100vh;
  padding-top: 0px;
  min-height: 600px;
  width: 100vw;
  position: relative;
  right: 0;
  z-index: 5;
  display: flex;
}

.skills h1 {
  padding: 9vh 5vw 10vh 2vw;
  margin: 10.5vh 0 0vh 4vw;
  font-size: 17px;
  font-weight: bold;
  color: white;
  width: 24.5%;
  text-align: right;
}

.skills .section {
  width: 60%;
  height: 70%;
  margin-top: 19vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.skills .section .skill {
  height: 100px;
  width: 75%;
  margin-left: 10px;
}

.skills .section .skill h2 {
  font-size: 18px;
  text-align: left;
  display: inline;

}

.skills .section .skill h3 {
  font-size: 14px;
  padding-bottom: 76px;
  font-weight: 100;
  text-align: left;

}

.skills .section .skill h4 {
  font-weight: 100;
  font-size: 12px;
  text-align: right;
  margin-top: -110px;
}
