@media only screen and (max-width: 700px) {

.bar {
  top: 0.5vw;
  height: 50px;
  left: 1vw;
  width: 98vw;
  margin: auto;
  background-color: #F9F9F9;
  z-index: 10;
  border-radius: 10px;
  position: fixed;
  display: flex;
  box-shadow: 0 1px 100px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.intro {
  height: 85vh;
  background-color: white;
  position: relative;
  z-index: 5;

}

.intro h1 {
  text-align: center;
  padding-top: 30vh;
  color: #1E1E1E;
  font-size: 55px;
  letter-spacing: 0px;
  margin-left: 0;
}

.intro h2 {
  text-align: center;
  color: #1E1E1E;
  font-size: 18px;
  font-weight: bolder;
  line-height: 3.5vh;
  margin-left: 0;
}

.intro h3 {
  text-align: center;
  padding-top: 1vh;
  color: #1E1E1E;
  font-size: calc(0.5vw + 0.5vh + 1vmin);
  font-weight: lighter;
  line-height: 3.5vh;
  font-size: 15px;
  margin-left: 0;
}

.intro img {
  visibility: hidden;
  width: 0px;
  margin: 0;
}

.experience h1 {
  padding: 10vh 0 0 0;
  margin: 0vh 0 0vh 0vw;
  width: 100%;
  font-size: 25px;
  text-align: center;
  font-size: 25px;
}

.experience {
  display: block;
  min-height: 900px;

}
.experience .section {
  margin-left: 8vw;
  width: 100%;
  display: block;
  flex-direction: column;
  margin-top: 0vh;
}

.about {
  display: block;
  min-height: 100vh;
  background-color: black;
}

.about .section {
  width: 100%;
  display: block;
  margin-top: 4vh;
}

.about h1 {
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 25px;
  padding: 10vh 0 0 0;
}

.about .section p {
  margin: auto;
  font-size: 15px;
  font-weight: lighter;
  color: white;
  font-family: "Helvetica";
  display: block;
}


.skills {
  display: block;
}

.skills .section {
  margin-top: 4vh;
  margin-left: 8vw;
  width: 100%;
}

.skills h1 {
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 25px;

  padding: 10vh 0 0 0;
}

}


@media (max-width: 950px) {

.experience .section .job {
  padding-top: 20px;
}

.experience .section .job h4 {
  font-weight: 100;
  font-size: 12px;
  text-align: left;
  padding-top: 35px;
}

}
