<div class = 'container' id = 'contact'>
    <h1> Contact. </h1>

    <div class = 'contact-container'>
        <div class = 'contact'>
            <div class = 'description'>
                <p>
                    Hi there! My name is Luke and I live in Boston, Massachusetts. I’ve had a passion for technology for as long as I can remember, which led me to majoring in Computer Science in college. In college I completed three internships at three amazing different companies, and I’m currently working full-time at John Hancock Financial as a full stack engineer. <br><br>

                    I love the complexity and the logical thinking that goes into back-end development, and love designing user interfaces and developing user experiences on the front-end. Recently I’ve started focusing more on refining my front-end development skills by making websites like this in my free time.
                </p>    
            </div>
        </div>
    </div>
</div>