<div class = 'container' id = 'work'>
    <h1> Work. </h1>

    <div class = 'work-experience-container'>
        <div class = 'job'>
            <div class = 'description'>
                <h2>John Hancock Financial</h2>
                <!-- <h3>February 2020 - Present</h3> -->
                <p> Hi there! My name is Luke and I live in Boston, Massachusetts. I’ve had a passion for technology for as long as I can remember, which led me to majoring in Computer Science in college.</p>    
            </div>
        </div>

        <div class = 'job'>
            <div class = 'description'>
                <h2>IBM</h2>
                <!-- <h3>May 2019 - December 2019</h3> -->
                <p> Hi there! My name is Luke and I live in Boston, Massachusetts. I’ve had a passion for technology for as long as I can remember, which led me to majoring in Computer Science in college.</p>    
 
            </div>
        </div>

        <div class = 'job'>
            <div class = 'description'>
                <h2>Trove - Predictive Data Science</h2>
                <!-- <h3>January 2018 - August 2018</h3> -->
                <p> Hi there! My name is Luke and I live in Boston, Massachusetts. I’ve had a passion for technology for as long as I can remember, which led me to majoring in Computer Science in college.</p>    

            </div>
        </div>

        <div class = 'job'>
            <div class = 'description'>
                <h2>Publicis Media</h2>
                <!-- <h3>May 2017 - August 2017</h3> -->
                <p> Hi there! My name is Luke and I live in Boston, Massachusetts. I’ve had a passion for technology for as long as I can remember, which led me to majoring in Computer Science in college.</p>    
            </div>
        </div>
    </div>
</div>