
.container {
    width: 100vw;
    background-color: var(--cream);

    h1 {
        padding-left: 10vw;
        padding-top: 10vh;
        margin: 0;
        color: var(--mainBlue);
        font-family: 'Georama', sans-serif;
    }
 
    .projects {
        padding-bottom: 10vh;

        .project {
            display: flex;
            margin-left: 5vw;

            h2 {
                margin-top: 5vh;
                margin-left: 5vw;
                color: var(--mainBlue);
                font-family: 'Georama', sans-serif;
            }
            
            .description {
                width: 65vw;

                p {
                    margin-left: 5vw;
                    margin-right: 5vw;
                    color: var(--mainBlue);
                    font-family: Arial, Helvetica, sans-serif;
                    line-height: 30px;
                }
            }
    
            .image {
                width: 25vw;
                margin-right: 10vw;
    
                img {
                    height: 550px;
                    display: block;
                    margin:auto;
                    transform: rotate(4deg);   
                    transition: 0.5s;     
                    z-index: 0;    
                }
    
                img:hover {
                    transform: rotate(-4deg);     
                    transition: 0.5s;       
                }
            }
        }
    }

    // TABLET
    @media only screen and (max-width: 1100px) {
        .projects {
            padding-bottom: 10vh;
    
            .project {
                display: block;

                h2 {
                    margin-left: 5vw;
                    margin-right: 5vw;
                }

                .description {
                    width: 90vw;
                    p {
                        margin-left: 5vw;
                        margin-right: 5vw;
                    }
                }
        
                .image {
                    width: 90vw;

                    img {
                        height: 550px;
                        display: block;
                        margin:auto;
                        transform: rotate(4deg);   
                        transition: 0.5s;     
                        z-index: 0;    
                        margin-top:50px;       
                    }
                }
            }
        }
    }

    // MOBILE
    @media only screen and (max-width: 750px) {
        .projects {
    
            .project {

                .image {
                    width: 90vw;

                    img {
                        height: 350px;
                        display: block;
                        margin:auto;
                        transform: rotate(4deg);   
                        transition: 0.5s;     
                        z-index: 0;    
                        margin-top:30px;       
                    }
                }
            }
        }

    }

}