
<div class = 'container'>

    <h1> Projects. </h1>

    <div class = 'projects'>

        <div class = 'project'>

            <div class = 'description'>
                <h2>iPhoneStudio.app</h2>
                <p>
                    After the launch of the 2020 iPhones, Apple introduced a tool on their website called MagSafe Studio to let consumers see what their new phones would look like with different cases and different MagSafe accessories. I found it extremely useful and fun, and was able to order my new phone accessories knowing it would look exactly how I liked it. Unfortunately Apple didn’t update the tool for the 2021 iPhones, and after searching the internet, couldn’t find a single tool like it. So I made one. <br><br>

                    I started working on iPhoneStudio.app the day before preorders started, and had a rough working version ready for preorder day. I spent the following few days updating, tweaking, and perfecting the user interface and user experience, and then later in the week a reddit post featuring my iPhoneStudio.app went semi-viral, and a tech blog from the Czech Republic wrote an article featuring my site as well. Within two weeks the website had over 13,000 visits, and I’m really happy that I was able to help so many people pick out their new phone accessories.            
                </p>    
            </div>
            <div class = 'image'>
                <img src = 'assets/iphonestudio.png'/>
            </div>
        </div>


    </div>
</div>