/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@700;800&display=swap');

body, html {
    margin: 0;
    scroll-behavior: smooth
}

:root {
    /* --lightYellow: rgb(235, 235, 222);
    --lightGreen: #BFC9BC;
    --lightBlue: #BCC8C9;
    --lightNavy: #2F4858;
    --Navy: #002944;
    --lightRed: #EACEC2; */


    --lightYellow: white;
    --Navy: #000000;
    --gray: #6d6d6d;
    --lightGray: #ececec;
    --lightNavy: #000000;
    --brightBlue: #F58549;
    --goodNavy: #005697;

    --lightGreen: #EEC170;
    --lightRed: #6d673d;
    --lightBlue: #79d7ff;
    --lightOrange: #772F1A;


  }