/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@700;800&display=swap');

body, html {
    margin: 0;
}

:root {
    /* --mainBlue: #0F496F; */
    --mainBlue: rgb(235, 235, 222);
    --mainGrey: #000000;
    --fullwidth: 100%;

    --grayBlue: #9AAEBB;
    --lightBlue: #c7ddeb;
    --yellow: #EE982B;
    --cream: #002944;
    --greenish: #00536F;
    --green: #00914d;

  }